/* Friends Card */
.friend_card{
    height: 160px;
    width: 120px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
    background-color: white;
    
    padding: 10px;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.card_img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.card_fullname{
    font-size: 12px;
    font-weight: bold;
}

.card_insta{
    font-size: 10px;
    text-decoration: none;
}

.card_insta:hover{
    color: #e11d96;
    cursor: pointer;
}

.card_view_profile{
    margin-top: 5px;
    text-decoration: none;
    background-color: rgb(22, 22, 22);
    color: white;
    border-radius: 20px;
    font-size: 10px;
    padding: 7px 22px;
}

.card_view_profile:hover{
    background-color: white;
    color: rgb(22, 22, 22);
    border: 1px solid rgb(22, 22, 22);
}