@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&family=Murecho:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,100;1,400;1,500;1,600;1,700;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


/* -------Search Friend CSS----------------------- */
.heading1{
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px;
}

.container_div{
    background-color: aliceblue;
    padding: 20px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
}
/*------------------------------ */

.register_page{
    background-image: linear-gradient(135deg, #B822FF ,#0AACEA);
    width: 100%;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

.maindiv{
    margin: 50px 0px;
}

.heading{
    text-align: center;
    background-color: black;
    height: 80px;
    line-height: 80px;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

.html_form{
    background-color: white;
    /* width: 850px; */
    padding: 40px;
    border-radius: 0px 0px 10px 10px;
}

.html_form fieldset{
    margin-top: 20px;
    padding: 10px;
}

.html_form table{
    border-spacing: 10px 10px;
}

.inputfield{
    width: 250px;
    padding: 5px 10px;

    border-style: solid;
    border-width: thin;

    /* border-style: none; */
    /* background-color: #e7e7e7ed; */
    border-radius: 4px;
    /* outline: none; */
}

.labeltext{
    font-weight: 600;
}


.html_form input[type="number"]{
    padding: 5px 10px;
    width: 50px;
    margin: 0; 

    /* border-radius: 5px; */
    border-style: solid;
    border-width: thin;
}

.html_form input[type="date"]{
    width: 100%;
    padding: 4px 8px;
}

.html_form input[type='radio']{
    margin: 0px 5px;
}

.html_form select{
    padding: 3px 10px;
    width: 271px;
}

/* Code for hide up and down counter in type="number" */
.html_form input[type=number]::-webkit-inner-spin-button, 
.html_form input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
    padding: 0;
}

.profilepic_div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profilepic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}


.register_button{
    background-color: #FD4D5A;
    color: white;

    border-style: none;
    border-radius: 5px;

    padding: 10px 40px;
    margin-top: 30px;

    font-weight: 600;
    /* letter-spacing: 1px; */
}

.addnew_field_button{
    background-color: #1CBA93;
    color: white;

    border-style: none;
    border-radius: 5px;

    padding: 5px 10px;
}
