
.forgot_password_page{
    width: 100%;
    height: 100vh;

    margin: 0;
    padding: 0;

    background-color: #284AA1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maindiv{
    /* height: 500px; */
    max-width: 600px;
    width: 100%;
    padding: 0px 10px 40px 10px;
    background-color: white; 

    text-align: center;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.image_{
    width: 200px;
    height: 200px;

    object-fit: cover;
    /* border-radius: 50%; */
}


.html_form{
    /* background-color: red; */
    max-width: 350px;
    width: 100%;
}

.input_email{
    margin-top: 20px;
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px; 
}


.button{
    background-color: #284AA1;
    color: aliceblue;
    border-style: none;
    width: 100%;
    padding: 15px;
    margin-top: 15px;
}

.button:hover{
    background-color: #0a276e;
}

.message_box{
    font-size: 14px;
    color: red;
    margin: 10px 0px 0px 0px;
}