.verify_email_page{
    width: 100%;
    min-height: 100vh;

    background-color: #99CC66;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maindiv{
    /* min-height: 450px;
    height: 100%; */
    max-width: 670px;
    width: 100%;
    padding: 20px 10px;
    margin: 5px;
    background-color: white; 

    text-align: center;
    box-shadow: 8px 8px 20px 2px rgba(22, 22, 22, 0.5);
}

.maindiv h1{
    margin: 12px 0px;
}

.maindiv p{
    margin-top: 8px;
}

.email_image{
    width: 200px;
    height: 200px;

    object-fit: cover;
    border-radius: 50%;
}

.button{
    padding: 12px 40px;
    max-width: 300px;
    width: 100%;
    border-style: none;

    font-size: 14px;
    color: white;
    background-color: #28b24a;
    border: 1px solid #28b24a;
    font-weight: 600;
}

.button:hover{
    background-color: white;
    color: #28b24a;
    border: 1px solid #28b24a;
    font-weight: 600;
}

.message_box{
    font-size: 14px;
    color: red;
    line-height: 30px;
}